<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.75>
    <title>RoboCar</title>
    <link rel="stylesheet" type="text/css" href="../static/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
  </head>
  <body>
    
    <div class="page-container">
      <div class="row-1">
        <div class="btn" ontouchstart="send('forwardLeft')">&#8662</div>
        <div class="btn" ontouchstart="send('driveForward')">&#8657</div>
        <div class="btn" ontouchstart="send('forwardRight')">&#8663</div>
      </div>
      <div class="row-2">
        <div class="btn" ontouchstart="send('counterClockwise')">&#8634</div>
        <div class="btn" ontouchstart="stop()">&#8697</div>
        <div class="btn" ontouchstart="send('clockwise')">&#8635</div>
      </div>
      <div class="row-3">
        <div class="btn" ontouchstart="send('reverseLeft')">&#8665</div>
        <div class="btn" ontouchstart="send('driveReverse')">&#8659</div>
        <div class="btn" ontouchstart="send('reverseRight')">&#8664</div>
      </div>
    </div>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      function send(direction) {
        $.ajax({
          type: "POST",
          url: "/ajax",
          data: JSON.stringify({ 'command' : direction }),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
        });
      }
      
      function stop() {
        $.ajax({
          type: "POST",
          url: "/ajax",
          data: JSON.stringify({ 'command' : 'stop' }),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
        });
      }
        
      $(".btn").on('touchend', function(){
        $.ajax({
          type: "POST",
          url: "/ajax",
          data: JSON.stringify({ 'command' : 'stop' }),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
        });
      });
      
    </script>
  </body>
</html>
